<div class="col-sm-6">
  <div class="form-group label-floating">
    <%= f.text_field :nombre  , placeholder: "Nombre del evento" , class: "form-control" %>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group label-floating">
    <%= f.text_field :ubicacion  , placeholder: "ubicacion del evento" , class: "form-control" %>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group label-floating">
    <%= f.text_area :ubicacion, placeholder: "imagen del evento", class: "form-control" %>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group label-floating">
    <%= f.text_area :descripcion  , placeholder: "descripcion" , class: "form-control" %>
  </div>
</div>