<p id="notice"><%= notice %></p>

<p>
  <strong>Comentario:</strong>
  <%= @event_comment.comentario %>
</p>

<%= link_to 'Edit', edit_event_comment_path(@event_comment) %> |
<%= link_to 'Back', event_comments_path %>
